kind: Service
apiVersion: v1
metadata:
  labels:
    app: {{ iot_graphql_api_application }}
    app.kubernetes.io/component: {{ iot_graphql_api_application }}
    app.kubernetes.io/instance: {{ iot_graphql_api_application }}
  name: {{ iot_graphql_api_application }}
spec:
  ports:
  - name: 8080-tcp
    port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    deployment: {{ iot_graphql_api_application }}
  sessionAffinity: None
  type: ClusterIP
