kind: Secret
apiVersion: v1
metadata:
  name: {{ iot_postgresql_credentials_secret }}
stringData:
  {{ iot_postgresql_user_key }}: {{ iot_postgresql_username }}
  {{ iot_postgresql_password_key }}: {{ iot_postgresql_password }}
  {{ iot_postgresql_database_key }}: {{ iot_postgresql_database }}
  {{ iot_postgresql_dbz_user_key }}: {{ iot_postgresql_dbz_username }}
  {{ iot_postgresql_dbz_password_key }}: {{ iot_postgresql_dbz_password }}
type: Opaque
