apiVersion: v1
kind: Service
metadata:
  name: {{ iot_streams_application }}
  labels:
    app: {{ iot_streams_application }}
    app.kubernetes.io/component: {{ iot_streams_application }}
    app.kubernetes.io/instance: {{ iot_streams_application }}
spec:
  ports:
  - name: http
    port: 8080
    protocol: TCP
    targetPort: {{ iot_streams_http_port | int }}
  selector:
    deployment: {{ iot_streams_application }}
  sessionAffinity: None
  type: ClusterIP
