apiVersion: v1
kind: Secret
metadata:
  labels:
    app: {{ mqtt2kafka_application }}
    app.kubernetes.io/component: {{ mqtt2kafka_application }}
    app.kubernetes.io/instance: {{ mqtt2kafka_application }}
  name: {{ mqtt2kafka_secret }}
stringData:
  application.properties: |

    meters.mqtt.topic={{ mqtt2kafka_mqtt_topic }}
    mqtt.broker.url=tcp://{{ mqtt2kafka_mqtt_host }}:1883

    meters.kafka.topic={{ rhosak_kafka_cluster_topic_iot_meters }}

    camel.component.kafka.brokers={{ mqtt2kafka_kafka_bootstrap_server_host }}
    camel.component.kafka.security-protocol=SASL_SSL
    camel.component.kafka.sasl-mechanism=PLAIN
    camel.component.kafka.sasl-jaas-config=org.apache.kafka.common.security.plain.PlainLoginModule required username="{{ mqtt2kafka_sasl_username }}" password="{{ mqtt2kafka_sasl_password }}" ;
    camel.component.kafka.ssl-truststore-location=/etc/pki/ca-trust/extracted/java/cacerts
    camel.component.kafka.ssl-truststore-password=changeit
