kind: Deployment
apiVersion: apps/v1
metadata:
  labels:
    app: {{ iot_ui_application }}
    app.openshift.io/runtime: nodejs
    app.kubernetes.io/component: iot-ui
    app.kubernetes.io/instance: iot-ui
  name: {{ iot_ui_application }}
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      deployment: {{ iot_ui_application }}
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        deployment: {{ iot_ui_application }}
    spec:
      containers:
        - name: {{ iot_ui_application }}
          image: {{ iot_ui_image }}
          env:
            - name: NODE_ENV
              value: prod
            - name: GOOGLE_MAPS_API_KEY
              valueFrom:
                secretKeyRef:
                  key: google-maps-api-key
                  name: {{ iot_ui_secret }}
            - name: IOT_GRAPHQL_API_URL
              value: {{ iot_ui_iot_graphql_api_url }}
          imagePullPolicy: IfNotPresent
          livenessProbe:
            failureThreshold: 3
            tcpSocket:
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 3
          readinessProbe:
            failureThreshold: 3
            tcpSocket:
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 3
          ports:
            - containerPort: 8080
              protocol: TCP
          resources:
            requests:
              cpu: "{{ iot_ui_resources_requests_cpu }}"
              memory: "{{ iot_ui_resources_requests_memory }}"
            limits:
              cpu: "{{ iot_ui_resources_limits_cpu }}"
              memory: "{{ iot_ui_resources_limits_memory }}"
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      serviceAccount: {{ iot_ui_service_account }}
      serviceAccountName: {{ iot_ui_service_account }}  
      terminationGracePeriodSeconds: 30
